<manifest xmlns:android="http://schemas.android.com/apk/res/android"
            xmlns:dist="http://schemas.android.com/apk/distribution"
        package="info.Parkhomenko.personaldiary">
        <uses-permission android:name="android.permission.INTERNET"/>
        <dist:module
            dist:instant="true" />

    <application
        android:name="info.Parkhomenko.personaldiary.App"
        android:allowBackup="true"
        android:icon="@drawable/agendas"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="info.Parkhomenko.personaldiary.view.ui.SplashActivity" android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="info.Parkhomenko.personaldiary.view.ui.DiariesActivity"
            android:label="Live to Learn"/>
        <activity
            android:name="info.Parkhomenko.personaldiary.view.ui.CRUDActivity"
            android:theme="@style/CRUDTheme"
            android:label="Редагування задачі "
            android:parentActivityName="info.Parkhomenko.personaldiary.view.ui.DiariesActivity" />
        <activity
            android:name="info.Parkhomenko.personaldiary.view.ui.DetailActivity"
            android:label="Деталі задачі "
            android:parentActivityName="info.Parkhomenko.personaldiary.view.ui.DiariesActivity" />
        <activity
            android:name="info.Parkhomenko.personaldiary.view.ui.HelperActivity"
            android:label="Деталі задачі "
            android:parentActivityName="info.Parkhomenko.personaldiary.view.ui.DiariesActivity" />
    </application>

</manifest>
